
.login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.tech-icons {
  margin-top: 80px !important;
font-size: 2em !important;
margin-left: auto !important; /* Set left margin to auto to center horizontally */
margin-right: auto !important;
margin-bottom: 30px !important;
padding: 40px !important;
opacity: 0.93 !important;
border: 1.7px solid rgba(200, 137, 230, 0.637) !important;
vertical-align: middle !important;
text-align: center !important;
border-radius: 5px !important;
display: table !important;
box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
overflow: hidden !important;
font-family: 'Montserrat';
background-color: transparent;
color: white;
}

.login-container2 {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px #551a8b, 0 0 10px #551a8b inset;

}

.text-white {
  color: #fff;
}
